h1 {
    text-align: center;
}

body {
    background-color: blanchedalmond;
}

.resume {
    background-color: burlywood;
    color: gray;
}

a {
    text-align: center;
}

.top-resume {
    text-align: center;
}
